<template lang="pug">
.container
  .header.px-4.py-1
    .flex.items-center.justify-start
      Icon(width="13px" height="13px" fill="#BF2C24")
      h3.ml-2.text-xl.font-medium {{ header }}
  .slide-container 
    Swiper(:initialSlide="2" :autoplay="{delay: 5000, disableOnInteraction: false,}" @slideChange="onSlideChange" :effect="'coverflow'" :loop="true" :grabCursor="true" :centeredSlides="true" :slidesPerView="'auto'" :coverflowEffect="{ rotate: 0, stretch: 20, depth: 100, modifier: 2.5}" :pagination="true" :modules="modules")
      SwiperSlide(v-for="item in list") 
        img(:src="item.imageUrl")
  .body.px-4.py-1(v-if="currentComic")
    h4 {{ currentComic.name }}
    p {{ currentComic.description }}
    button Xem chi tiết
</template>

<script setup>
import { ref } from 'vue';

// Import Swiper Vue.js components
import { Swiper, SwiperSlide} from 'swiper/vue';

// Import Swiper styles
import 'swiper/css';

import 'swiper/css/effect-coverflow';
import 'swiper/css/pagination';
import 'swiper/css/navigation';

// import required modules
import { Autoplay, EffectCoverflow, Pagination, Navigation } from 'swiper/modules';
const modules = [Autoplay, EffectCoverflow, Pagination, Navigation];

const currentComic = ref()

function onSlideChange(e){
  currentComic.value = props.list[e.realIndex]
};

import Icon from "../../../assets/svg/circle-dot-solid.svg";

const props = defineProps({
  header: {
    type: String,
    required: true,
  },
  list: {
    type: Array,
    required: true,
  },
});


</script>

<style lang="stylus" scoped>
.swiper
  padding 32px
  width 100%
  position relative
.swiper-slide
  width 120px
  height 180px
  position relative
  img
    width 100%
    height 100%
    object-fit cover


.container
  border-radius 5px
  background-image linear-gradient(to right, #f7f7f9 0%, #f7f7f9 100%)
  .header
    img
      margin-top 10px
  .slide-container
    width 300px
    overflow hidden
    margin 16px auto
  .body
    background-color #f7f7f9
    padding 12px 16px
    h4 
      color #48484A
      font-weight 500
    p
      font-size 12px
      color #8E8E93
      text-align justify
      margin-top 5px
    button
      margin-top 12px
      float right
      color #fff
      background-color #ED4259
      margin 10px 0
      padding 10px 15px
      border-radius 20px
</style>
