<template lang="pug">
.container
  .header.flex.items-center.justify-between.px-4.py-3
    .name-container.flex.items-center
      Icon(width="13px" height="13px" fill="#BF2C24")
      h3.ml-2.text-xl.font-medium Truyện
    a.all-btn(href="") Xem tất cả
  .body
    table.w-full
      tr(v-for="item in list")
        td.type.flex.items-center.capitalize
          FlagIcon.mr-1(width="12px" height="12px" fill="#8E8E93")
          p {{ item.type }}
        td.name.capitalize
          p {{ item.name }}
        td.chapter
          p {{ item.chapter }}
        td.author.flex.items-center.capitalize
          PencilIcon.mr-1(width="12px" height="12px" fill="#8E8E93")
          p {{ item.author }}
        td.time.text-right
          p 1 phút trước

</template>

<script setup>
import Icon from "../../../assets/svg/circle-dot-solid.svg";
import PencilIcon from "../../../assets/svg/pencil-solid.svg";
import FlagIcon from "../../../assets/svg/font-awesome-solid.svg";

const list = [
  {
    name: 'luân hồi lạc viên',
    followed: 100,
    like: 99,
    chapter: 'Chương 302: Phan Anh Hào',
    views: 50,
    type: 'đồng nhân',
    author: 'na nhất chích văn tử',
    imageUrl: 'https://www.nae.vn/ttv/ttv/public/images/story/99d2aa117de6f54b06b64cbbebef2b435336977dfee71f2ee5766d48b31734f3.jpg'
  },
  {
    name: 'luân hồi lạc viên',
    followed: 100,
    like: 99,
    chapter: 'Chương 302: Phan Anh Hào',
    views: 40,
    type: 'đồng nhân',
    author: 'na nhất chích văn tử',
    imageUrl: 'https://www.nae.vn/ttv/ttv/public/images/story/ca49b96ab7aeb19223b29a7297f286a42646782f575a8122b0b34294bda9399e.jpg'
  },
  {
    name: 'luân hồi lạc viên',
    followed: 100,
    like: 99,
    chapter: 'Chương 302: Phan Anh Hào',
    views: 30,
    type: 'đồng nhân',
    author: 'na nhất chích văn tử',
    imageUrl: 'https://www.nae.vn/ttv/ttv/public/images/story/99d2aa117de6f54b06b64cbbebef2b435336977dfee71f2ee5766d48b31734f3.jpg'
  },
  {
    name: 'luân hồi lạc viên',
    followed: 100,
    like: 99,
    chapter: 'Chương 302: Phan Anh Hào',
    views: 20,
    type: 'đồng nhân',
    author: 'na nhất chích văn tử',
    imageUrl: 'https://www.nae.vn/ttv/ttv/public/images/story/99d2aa117de6f54b06b64cbbebef2b435336977dfee71f2ee5766d48b31734f3.jpg'
  },
  {
    name: 'luân hồi lạc viên',
    followed: 100,
    like: 99,
    chapter: 'Chương 302: Phan Anh Hào',
    views: 10,
    type: 'đồng nhân',
    author: 'na nhất chích văn tử',
    imageUrl: 'https://www.nae.vn/ttv/ttv/public/images/story/99d2aa117de6f54b06b64cbbebef2b435336977dfee71f2ee5766d48b31734f3.jpg'
  },
];

</script>

<style lang="stylus" scoped>
.container
  border-radius 5px
  margin-top 10px
  background-color #f6f7f9
  .header
    border-bottom 1px solid #ddd
    .all-btn
      color #BFBFC3
  .body
    table
      tr
        td
          color #48484A
          padding 10px 0
        .type
          color #8E8E93
        .name
          font-weight 500

</style>