<template lang="pug">
.container2
  .header.flex.justify-between.px-4.py-3
    .name-container.flex.items-center
      Icon(width="13px" height="13px" fill="#BF2C24")
      h3.ml-2.text-xl.font-medium {{ title }}
    a.all-btn(href="") Xem tất cả
  .body
    .item(v-for="(item, index) in list")
      .order(:class="{'bg-[#BF2C24]': index === 0, 'bg-[#FF9F0A]': index === 1, 'bg-[#FFD542]': index === 2, 'bg-[#B6B6BD]': index > 2}") 0{{ index + 1 }}
      .image-container
        img(:src="item.imageUrl")
      .info
        h5.name {{ item.name }}
        p.type.mt-1 Thể loại: {{ item.type }}
        p.author Tác giả: {{  item.author }}
        .statistic.flex.items-center.mt-2
          .flex.items-center
            EyeIcon.mr-1(width="15px" height="15px" fill="#8E8E93")
            p {{ item.views }}
          .flex.items-center.ml-2
            LikeIcon.mr-1(width="15px" height="15px" fill="#8E8E93")
            p {{ item.like }}
          .flex.items-center.ml-2
            CheckedIcon.mr-1(width="15px" height="15px" fill="#8E8E93")
            p {{ item.followed }} theo dõi
</template>

<script setup>
import Icon from "../../../assets/svg/circle-dot-solid.svg";
import EyeIcon from "../../../assets/svg/eye-regular.svg";
import LikeIcon from "../../../assets/svg/thumbs-up-solid.svg";
import CheckedIcon from "../../../assets/svg/circle-check-solid.svg";

const props = defineProps({
  title: {
    type: String,
    required: true
  },
  list: {
    type: Array,
    required: true
  }
});

</script>

<style lang="stylus" scoped>
.container2
  width 100%
  border-radius 5px
  background-color #f8f8fa
  .header
    border-bottom 1px solid #ddd
    .name-container
      h3
        text-transform capitalize
    .all-btn
      color #BFBFC3
  .body
    width 100%
    display flex
    overflow auto
    gap 12px
    .item
      display flex
      padding 16px 0
      flex-direction column
      align-items center
      width 100px
      .order
        display none
        color #fff
        width 24px
        height 24px
        font-size 12px
        line-height 24px
        text-align center
      .image-container
        width 180px
        img
          width 100%
          object-fit cover
      .info
        color #8E8E93
        font-size 13px
        .name
          color #48484A
          font-size 14px
          font-weight 500
          text-transform capitalize
        .type,
        .author
          text-transform capitalize
          display none
        .statistic
          display none

@media screen and (min-width: 768px)
  .container2
    .body
      display block
      .item
        width 100%
        flex-direction row
        align-items flex-start
        .order
          display block
        .image-container
          margin 0 16px
          width 72px
          img
            width 100%
            object-fit cover
        .info
          .type,
          .author,
          .statistic
            display flex
</style>