<template lang="pug">
.container3
  .header.flex.items-center.justify-between.px-4.py-3
    .name-container.flex.items-center
      Icon(width="13px" height="13px" fill="#BF2C24")
      h3.ml-2.text-xl.font-medium Truyện
    a.all-btn(href="") Xem tất cả
  .body.flex.flex-col.items-center
    .slide-container 
      Swiper(:initialSlide="2" :autoplay="{delay: 5000, disableOnInteraction: false,}" @slideChange="onSlideChange" :effect="'coverflow'" :loop="true" :grabCursor="true" :centeredSlides="true" :slidesPerView="'auto'" :coverflowEffect="{ rotate: 50, stretch: 20, depth: 100, modifier: 1, slideShadows: true}" :pagination="true" :modules="modules")
        SwiperSlide(v-for="item in list") 
          img(:src="item.imageUrl")
    .info(v-if="currentComic")
      h4.name {{ currentComic.name }}
      .flex.my-2
        .author.flex.items-center
          PencilIcon(width="13px" height="13px" fill="#8E8E93")
          p.ml-1.capitalize {{ currentComic.author }}
        .type.flex.items-center.ml-8
          FlagIcon(width="13px" height="13px" fill="#8E8E93")
          p.ml-1.capitalize {{ currentComic.type }}
      .flex.items-center.justify-between
        .flex.items-center
          BarsIcon(width="13px" height="13px" fill="#8E8E93")
          p.ml-1 1400 chương
        .flex.items-center
          EyeIcon(width="13px" height="13px" fill="#8E8E93")
          p.ml-1 5.8M
        .flex.items-center
          StarIcon(width="13px" height="13px" fill="#8E8E93")
          p.ml-1 4.8 (1.8K)
      p.description {{ currentComic.description }}
    button.read-btn Đọc ngay
</template>

<script setup>
import Icon from "../../../assets/svg/circle-dot-solid.svg";
import PencilIcon from "../../../assets/svg/pencil-solid.svg";
import StarIcon from "../../../assets/svg/star-solid.svg";
import FlagIcon from "../../../assets/svg/font-awesome-solid.svg";
import BarsIcon from "../../../assets/svg/bars-solid.svg";
import EyeIcon from "../../../assets/svg/eye-regular.svg";

import { ref } from 'vue';

// Import Swiper Vue.js components
import { Swiper, SwiperSlide} from 'swiper/vue';

// Import Swiper styles
import 'swiper/css';

import 'swiper/css/effect-coverflow';
import 'swiper/css/pagination';
import 'swiper/css/navigation';

// import required modules
import { Autoplay, EffectCoverflow, Pagination, Navigation } from 'swiper/modules';
const modules = [Autoplay, EffectCoverflow, Pagination, Navigation];

const list = [
  {
    name: 'Hogwarts Chi Hệ Thống Thẻ Bài (Hoắc Cách Ốc Tỳ Chi Tạp Bài Hệ Thống)',
    author: 'Uy quán trưởng',
    type: 'phép thuật',
    description: 'Hogwarts Chi Hệ Thống Thẻ Bài - Hoắc Cách Ốc Tỳ Chi Tạp Bài Hệ Thống -...',
    imageUrl: 'https://www.nae.vn/ttv/ttv/public/images/story/c52cab872c3fc1910eed3fa997faecc601ab1b3c97d782aa98f5686f611ff86e.jpg'
  },
  {
    name: 'Tiên Phụ (Cha Tiên)',
    author: 'Ngôn Quy Chính Truyện',
    type: 'tiên hiệp',
    description: 'Lưu ý trước khi đọc: Truyện thiên hướng "cẩu đạo", khuyến nghị người...',
    imageUrl: 'https://www.nae.vn/ttv/ttv/public/images/story/14d23d3e48cc046655e8161fbd64ac60cc595532208de8741d5268daf6734e64.jpg'
  },
  {
    name: 'Ngã Lai Thử Thế Khai Thần Đạo',
    author: 'Á Châu Mãnh Nam',
    type: 'tiên hiệp',
    description: 'Mong các đạo hữu ủng hộ truyện và Converter bằng các cách sau:- Vote 5*,...',
    imageUrl: 'https://www.nae.vn/ttv/ttv/public/images/story/182b26edac7d61948592bb52ed6ebd3f1bf385e0f5725df125d86e5c180a95ba.jpg'
  },
  {
    name: 'Tinh Không Tối Cường Đại Thánh',
    author: 'tử vũ ca',
    type: 'tiên hiệp',
    description: 'Hogwarts Chi Hệ Thống Thẻ Bài - Hoắc Cách Ốc Tỳ Chi Tạp Bài Hệ Thống -...',
    imageUrl: 'https://www.nae.vn/ttv/ttv/public/images/story/c9d5863b6a390a841c96336315270c947c0c015709e55733f81bee4c2ffc5a2a.jpg'
  },
  {
    name: 'Chân Vũ Đãng Ma Truyện',
    author: 'Thổ Ngật Đáp Đích Ái Tình',
    type: 'tiên hiệp',
    description: 'Hogwarts Chi Hệ Thống Thẻ Bài - Hoắc Cách Ốc Tỳ Chi Tạp Bài Hệ Thống -...',
    imageUrl: 'https://www.nae.vn/ttv/ttv/public/images/story/2e379a5e4274f512df627cca6627ed2ae909fe25c09c451aaae835e953438cf2.jpg'
  },
];

const currentComic = ref()

function onSlideChange(e){
  currentComic.value = list[e.realIndex]
};

</script>

<style lang="stylus" scoped>
.swiper
  padding 0 32px 32px
  width 100%
  position relative
.swiper-slide
  width 120px
  height 180px
  position relative
  img
    width 100%
    height 100%
    object-fit cover

.container3
  border-radius 5px
  background-color #f7f7f9
  .header
    .all-btn
      color #BFBFC3
  .body
    padding 0 32px 32px
    .slide-container
      width 300px
      overflow hidden
      margin 16px auto
    .info
      margin-top 24px
      color #8E8E93
      .name
        color #48484A
        font-weight 500
        text-align justify
        text-transform capitalize
      .description
        font-size 12px
        margin-top 5px
    .read-btn
      color #fff
      width 110px
      height 32px
      line-height 32px
      font-weight 500
      border-radius 100px
      background-color #ED4259
      margin-top 16px
</style>