<template lang="pug">
.container
  SectionTitle(title="truyện mới")
  .body.flex.items-start.gap-10.mt-6
    .special-comic
      img(src="https://www.nae.vn/ttv/ttv/public/images/story/1dadbc2bebdca51c03f22eb8cf2dab87b29fd16adb77a5759240060a9b98dc32.jpg")
      p.name Ngã Đích Hoàn Mỹ Mạt Thế Nhân Sinh
      p.author trường kình quy hải
      .numberChapter 15
        p chương
      .description "Nguyên tên sách: 《 cũng mạt thế, hoàn mỹ nhân sinh hệ thống mới đến? 》 "Mạnh..
    .newComic-list
      .newComic-item(v-for="comic in newComicList")
        .image-container
          img(:src="comic.imageUrl")
        .info
          .name {{ comic.name }}
          .description {{ comic.description }}
          .more-info 
            .author
              UserIcon(width="15px" height="15px" fill="#ccc")
              p {{ comic.author }}
            .type-link {{ comic.type }}
</template>

<script setup>
import UserIcon from "../../../assets/svg/user-solid.svg"

import SectionTitle from "../SectionTitle.vue"


const newComicList = [
  {
    name: "Địa Trung Hải Phách Chủ Chi Lộ",
    description: '"Một bộ đế quốc Bulgaria ra đời sử, một bộ Balkans nước nhỏ phấn đấu...',
    author: 'Tân Hải Nguyệt1',
    type: 'Lịch sử',
    imageUrl: 'https://www.nae.vn/ttv/ttv/public/images/story/c70e6ad624101c60ead30601f743c66b08a31942922a0b77b425492fd46694ae.jpg'
  },
  {
    name: "Địa Trung Hải Phách Chủ Chi Lộ",
    description: '"Một bộ đế quốc Bulgaria ra đời sử, một bộ Balkans nước nhỏ phấn đấu...',
    author: 'Tân Hải Nguyệt1',
    type: 'Lịch sử',
    imageUrl: 'https://www.nae.vn/ttv/ttv/public/images/story/c70e6ad624101c60ead30601f743c66b08a31942922a0b77b425492fd46694ae.jpg'
  },
  {
    name: "Địa Trung Hải Phách Chủ Chi Lộ",
    description: '"Một bộ đế quốc Bulgaria ra đời sử, một bộ Balkans nước nhỏ phấn đấu...',
    author: 'Tân Hải Nguyệt1',
    type: 'Lịch sử',
    imageUrl: 'https://www.nae.vn/ttv/ttv/public/images/story/c70e6ad624101c60ead30601f743c66b08a31942922a0b77b425492fd46694ae.jpg'
  },
  {
    name: "Địa Trung Hải Phách Chủ Chi Lộ",
    description: '"Một bộ đế quốc Bulgaria ra đời sử, một bộ Balkans nước nhỏ phấn đấu...',
    author: 'Tân Hải Nguyệt1',
    type: 'Lịch sử',
    imageUrl: 'https://www.nae.vn/ttv/ttv/public/images/story/c70e6ad624101c60ead30601f743c66b08a31942922a0b77b425492fd46694ae.jpg'
  },
  {
    name: "Địa Trung Hải Phách Chủ Chi Lộ",
    description: '"Một bộ đế quốc Bulgaria ra đời sử, một bộ Balkans nước nhỏ phấn đấu...',
    author: 'Tân Hải Nguyệt1',
    type: 'Lịch sử',
    imageUrl: 'https://www.nae.vn/ttv/ttv/public/images/story/c70e6ad624101c60ead30601f743c66b08a31942922a0b77b425492fd46694ae.jpg'
  },
  {
    name: "Địa Trung Hải Phách Chủ Chi Lộ",
    description: '"Một bộ đế quốc Bulgaria ra đời sử, một bộ Balkans nước nhỏ phấn đấu...',
    author: 'Tân Hải Nguyệt1',
    type: 'Lịch sử',
    imageUrl: 'https://www.nae.vn/ttv/ttv/public/images/story/c70e6ad624101c60ead30601f743c66b08a31942922a0b77b425492fd46694ae.jpg'
  },
  {
    name: "Địa Trung Hải Phách Chủ Chi Lộ",
    description: '"Một bộ đế quốc Bulgaria ra đời sử, một bộ Balkans nước nhỏ phấn đấu...',
    author: 'Tân Hải Nguyệt1',
    type: 'Lịch sử',
    imageUrl: 'https://www.nae.vn/ttv/ttv/public/images/story/c70e6ad624101c60ead30601f743c66b08a31942922a0b77b425492fd46694ae.jpg'
  },
  {
    name: "Địa Trung Hải Phách Chủ Chi Lộ",
    description: '"Một bộ đế quốc Bulgaria ra đời sử, một bộ Balkans nước nhỏ phấn đấu...',
    author: 'Tân Hải Nguyệt1',
    type: 'Lịch sử',
    imageUrl: 'https://www.nae.vn/ttv/ttv/public/images/story/c70e6ad624101c60ead30601f743c66b08a31942922a0b77b425492fd46694ae.jpg'
  },
  {
    name: "Địa Trung Hải Phách Chủ Chi Lộ",
    description: '"Một bộ đế quốc Bulgaria ra đời sử, một bộ Balkans nước nhỏ phấn đấu...',
    author: 'Tân Hải Nguyệt1',
    type: 'Lịch sử',
    imageUrl: 'https://www.nae.vn/ttv/ttv/public/images/story/c70e6ad624101c60ead30601f743c66b08a31942922a0b77b425492fd46694ae.jpg'
  },
];
</script>

<style lang="stylus" scoped>
.container
  .body
    .special-comic
      display none
      // display flex
      flex-direction column
      align-items center
      background-color #f7f5f0
      width 250px
      padding 20px 10px
      img 
        width 156px
      .name
        text-align center
        font-size 16px
        font-weight 700
        margin 5px 0
        text-transform capitalize
      .author
        color #bf2c24
        font-size 12px
        text-transform capitalize
      .numberChapter
        display flex
        align-items flex-end
        font-size 18px
        color #666
        p
          margin-left 3px
          font-size 12px
      .description
        font-size 12px
        color #626260
        margin-top 10px
    .newComic-list
      margin-top 20px
      width 100%
      overflow auto
      display flex
      // grid-template-columns auto auto auto
      column-gap 15px
      row-gap 30px
      .newComic-item
        display flex
        flex-direction column
        .image-container
          width 150px
          overflow hidden
          &:hover
            img
              transform scale(1.1)
          img
            width 100%
            height 100%
            object-fit cover
            transition: all .2s ease-in-out
        .info 
          flex 1
          margin-left 10px
          .name
            font-size 16px
            &:hover
              color red
          .description
            display none
            font-size 12px
            margin 10px 0
            color: #666
          .more-info
            display none
            .author
              display flex
              align-items center
              color #a6a6a6
              font-size 12px
            .type-link
              color #a6a6a6
              padding 3px 5px
              border 1px solid #bfbfbf

@media screen and (min-width: 768px)
  .container
    .body
      .special-comic
        display flex
      .newComic-list
        display grid
        grid-template-columns auto auto
        .newComic-item
          flex-direction row
          align-items flex-start
          .image-container
            width 100px
          .info
            .description
              display block
            .more-info
              display flex
              justify-content space-between

@media screen and (min-width: 1024px)
  .container
    .body
      .special-comic
        display flex
      .newComic-list
        display grid
        grid-template-columns auto auto auto

</style>