<template lang="pug">
.container
  SearchModal(:open="openSearchModal" :close="closeSearchModal")
  LargeNavbar
  .main 
    Menu
    .search-btn(@click="() => openSearchModal = true" class="search-btn")
      SearchIcon(width="15px" height="15px" fill="#ccc")
      p Tìm kiếm
    MobileNavbar
    .banner
      a(href="" target="_blank")
        img(src="/images/banner4.png")
    
    .section.mt-8
      SectionTitle(title='tác phẩm đề cử')
      .flex.my-4.gap-6.section-content
        Content1.flex-1(header="Truyện" :list="recomComics")
        Content1.flex-1(header="Sách" :list="recomBooks")
        Content1.flex-1(header="Học liệu" :list="recomComics")

    .banner
      a(href="" target="_blank")
        img(src="/images/banner1.jpg")
    
    .section 
      SectionTitle(title='top truyện')
      .flex.my-4.gap-6.section-content
        Content2(title="xem nhiều" :list="views")
        Content2(title="thích nhiều" :list="views")
        Content2(title="theo dõi nhiều" :list="views")
    .section
      SectionTitle(title="mới hoàn thành")
      .flex.my-4.gap-6.section-content
        Content3
        Content3
        Content3
    .section
      Content5
    
    .my-10(style="display: none" class="hover:opacity-80")
      a(href="" target="_blank")
        img.rounded-xl(src="/images/banner4.png")

    .section(style="display: none;")
      SectionTitle(title="mới cập nhật")
      div
        Content4
        Content4
        Content4
  MoreInfo
</template>

<script setup>
import {ref} from "vue"

import SearchModal from './SearchModal.vue';
import LargeNavbar from './Navbar/LargeNavbar.vue';
import MobileNavbar from './Navbar/MobileNavbar.vue';
import Menu from "./Menu.vue";
import SectionTitle from "./SectionTitle.vue"
import Content1 from "./content/Content1.vue"
import Content2 from "./content/Content2.vue"
import Content3 from "./content/Content3.vue"
import Content4 from "./content/Content4.vue";
import Content5 from "./content/Content5.vue";
import MoreInfo from "./MoreInfo.vue";

import SearchIcon from "../../assets/svg/magnifying-glass-solid.svg";

import {recomComics, recomBooks} from "../../data/recommend.json";
import {views} from "../../data/top.json";

const openSearchModal = ref(false)

function closeSearchModal() {
  openSearchModal.value = false;
}

const tabList = ['Convert', 'Dịch', 'Ngôn tình'];

</script>

<style lang="stylus" scoped>
.container
  background-color #fff
  .main
    max-width 100%
    width 1200px
    margin auto
    padding 10px 12px
    .banner
      width 100%
      margin 24px 0
      img
        width 100%
        border-radius 10px
    .search-btn 
      display flex
      align-items center
      justify-content center
      background-color #ddd
      padding 6px
      margin 10px 12px
      border-radius 5px
      p 
        font-size 13px
        color #555
        margin-left 5px
    .section-content
      flex-direction column
      align-items center
  
    .news-container
      width 220px
      border 1px solid #e6e6e6
      background-color #fcfcfa
      a
        &:hover
          color red
      .title
        padding 10px
        font-size 16px
        font-weight 700
        text-align center
      ul
        list-style-position inside
        li
          padding 10px
          font-size 14px
          color #262626
          &:nth-child(odd)
            background-color #f7f6f2
          &::marker
            color #666
            margin-right 10px
  .section
    margin-bottom 40px

@media screen and (min-width: 768px)
  .container
    .main
      .search-btn,
      .banner-1
        display none
      .section-content
        flex-direction row
</style>