<template lang="pug">
.menu
  .row-1.flex.items-end
    .dashboard
      .type-list-item.item.flex.justify-between.items-center
        .title.flex.items-center
          ListIcon.icon(width="15px" height="15px" fill="#fff")
          p Danh mục tác phẩm 
        AngleRightIcon.right-icon(width="15px" height="15px" fill="#fff")
        .type-list
          h4.title Truyện
          .list-content.grid.grid-cols-3
            a.type-item(href="" v-for="type in types") {{ type }}
            .more-btn.flex.items-center
              p Xem thêm
              AngleRightIcon(width="15px" height="15px" fill="#4088F4")

      .item.flex.justify-between.items-center
        .title.flex.items-center
          TopIcon.icon(width="15px" height="15px" fill="#fff")
          p Bảng xếp hạng
        AngleRightIcon.right-icon(width="15px" height="15px" fill="#fff")
      .item.flex.justify-between.items-center
        .title.flex.items-center
          FreeIcon.icon(width="15px" height="15px" fill="#fff")
          p Miễn phí
        AngleRightIcon.right-icon(width="15px" height="15px" fill="#fff")
      .item.flex.justify-between.items-center
        .title.flex.items-center
          EndIcon.icon(width="15px" height="15px" fill="#fff")
          p Hoàn thành 
        AngleRightIcon.right-icon(width="15px" height="15px" fill="#fff")
      .item.flex.justify-between.items-center
        .title.flex.items-center
          CrownIcon.icon(width="15px" height="15px" fill="#C69B3C")
          p Khu vực VIP
        AngleRightIcon.right-icon(width="15px" height="15px" fill="#fff")
    .slide-container
      swiper(:autoplay="{delay: 5000, disableOnInteraction: false,}" :loop="true" :pagination="true" :modules="modules")
        swiper-slide(v-for="item in slideList")
          a(:href="item.link")
            img(:src="item.imageUrl")
  .row-2
    .news-container
      h3.title Tin tức
      .content
        a.item(href="")
          GlobeIcon(width="15px" height="15px" fill="#8E8E93")
          p Tuyển dụng Cộng Tác Viên
        a.item(href="")
          FireIcon(width="15px" height="15px" fill="#ED4259")
          p Bảng lương convert
        a.item(href="")
          FlagIcon(width="15px" height="15px" fill="#4088F4")
          p Kiếm tiền với TekBook
    .image-list
      img(src="/images/cover1.jpg")
      img(src="/images/cover2.jpg")
      img(src="/images/cover5.jpg")


</template>

<script setup>

import TopIcon from "../../assets/svg/chart-simple-solid.svg";
import AngleRightIcon from "../../assets/svg/angle-right-solid.svg"
import FireIcon from "../../assets/svg/fire-solid.svg";
import ListIcon from "../../assets/svg/rectangle-list-solid.svg";
import CrownIcon from "../../assets/svg/crown-solid.svg";
import EndIcon from "../../assets/svg/hourglass-end-solid.svg";
import FreeIcon from "../../assets/svg/google-wallet.svg";
import FlagIcon from "../../assets/svg/font-awesome-solid.svg";
import GlobeIcon from "../../assets/svg/globe-solid.svg";

import {types} from "../../data/constants.json"

import { Swiper, SwiperSlide } from 'swiper/vue';
import 'swiper/css';
import 'swiper/css/pagination';
import {Autoplay, Pagination } from 'swiper/modules';

const modules = [Autoplay, Pagination];

const slideList = [
  {
    imageUrl: '/images/banner2.png',
    link: ''
  },
  {
    imageUrl: '/images/banner3.png',
    link: ''
  },
  {
    imageUrl: '/images/banner5.png',
    link: ''
  },
];

</script>

<style lang="stylus" scoped>

.swiper
  width 100%
  position relative
.swiper-slide
  width 100%
  height 100%
  position relative

.menu
  width 100%
  .row-1
    .dashboard
      display none
    .slide-container
        flex 1
        background-color #fff
        overflow hidden
        a
          display block
          width 100%
          height 100%
          img
            width 100%
            height 100%
            object-fit cover
  .row-2
    display none

@media screen and (min-width: 768px)
  .menu
    .row-1
      gap 16px
      .dashboard
        display block
        width 280px
        padding 15px 8px
        border-radius 5px
        background-color #3A3A3C
        .type-list-item
          .type-list
            display none
            width 450px
            background-color #3A3A3C
            padding 10px 20px
            border-radius 5px
            position absolute
            z-index 5
            left calc(100% + 15px)
            top 0
            .title
              padding 5px 0
              border-bottom 1px solid #ccc
            .list-content
              margin-top 10px
              .type-item
                margin 10px 0
                color #fff
                &:hover
                  color red
              .more-btn
                color #4088F4
          &:hover
            .type-list
              display block
        .item
          position relative
          padding 12px 10px
          .title
            color #fff
            .icon
              margin-right 5px
          & + .item
            margin-top 5px
          &:hover
            cursor pointer
            border-radius 5px
            background-color #636366
    .row-2
      display flex
      margin-top 15px
      .news-container
        width 280px
        border-radius 5px
        overflow hidden
        .title
          color #fff
          text-align center
          background-color #ED4259
          padding 8px
        .content
          background-color #EFEFF4
          .item
            color #48484A
            display flex
            align-items center
            padding 10px 6px
            p
              margin-left 5px
      .image-list
        flex 1
        display flex
        margin-left 15px
        gap 15px
        height 160px
        overflow hidden
        img
          flex 1
          height 100%
          object-fit cover


</style>