<template lang="pug">
.moreInfo-container
  .inner.flex.gap-10
    .search-container.flex-1
      SectionTitle(title="tìm kiếm nổi bật")
      .body
        div
          span.search-item Lãng mạn
          span.search-item Kiếm hiệp
          span.search-item Huyền bí
          span.search-item Hành động mạo hiểm
        div.my-8
          span.search-item Nữ cường
          span.search-item Kinh dị
          span.search-item Huyền bí
          span.search-item Đô thị
          span.search-item Côn lăng
          span.search-item Kinh doanh
        div
          span.search-item Lãng mạn
          span.search-item Kiếm hiệp
          span.search-item Huyền bí
    .info-container.flex-1
      SectionTitle(title="nhận thông tin từ tekbook")
      .body
        p Nhập mail để nhận những ưu đãi hấp dẫn và các xu hướng mới nhất
        .flex.items-start.justify-between.mt-2
          input.flex-1(type="email" placeholder="Địa chỉ Email của bạn")
          button.register-btn Đăng ký

</template>

<script setup>
import SectionTitle from './SectionTitle.vue';
</script>

<style lang="stylus" scoped>
.moreInfo-container
  background-color #f7f7f9
  display none
  .inner
    width 1200px
    max-width 100%
    margin 0 auto
    padding 40px 0
    .search-container
      .body
        margin-top 20px
        .search-item
          color #8E8E93
          padding 10px 15px
          border-radius 20px
          background-color #EFEFF4
          & + .search-item
            margin-left 10px
          &:hover
            color #fff
            cursor pointer
            background-color #ED4259
    .info-container
      .body
        margin-top 20px
        p
          color #48484a
        input
          outline none
          color #8E8E93
          padding 5px 0 
          background-color #f7f7f9
          border-bottom 1px solid #ddd
        .register-btn
          color #fff
          height 36px
          width 190px
          line-height 36px
          border-radius 5px
          margin-left 15px
          background-color #BF2C24
@media screen and (min-width: 768px)
  .moreInfo-container
    display block
</style>