<template lang="pug">
.search-modal(v-if="open")
  .search-container
    .search-field
      SearchIcon(width="18px" height="18px" fill="#ccc")
      input(type="text" placeholder="Tìm kiếm")
    div(style="display: flex; align-items: center" @click="close")
      BarsIcon(width="18px" height="18px")
  .result-list
</template>

<script setup>
import SearchIcon from "../../assets/svg/magnifying-glass-solid.svg"
import BarsIcon from "../../assets/svg/bars-solid.svg"

const props = defineProps({
  open: {
    type: Boolean,
    required: true
  },
  close: {
    type: Function,
    required: true
  }
});

</script>

<style lang="stylus" scoped>
      .search-modal 
        position fixed
        z-index 1
        background-color #fff
        top 0
        left 0
        right 0
        bottom 0
        padding 12px
  
    .search-container 
        display flex
        align-items center
  
    .search-field 
        display flex
        flex 1
        background-color #f6f7f9
        padding 6px 12px
        border-radius 5px
        margin-right 10px
        input 
            flex 1
            border none
            background-color transparent
            outline none
            margin-left 5px
</style>