<template lang="pug">
.title
  h3.name {{ title }}
  a.all-btn(:href="link") Xem tất cả
</template>

<script setup>

const props = defineProps({
  title: {
    type: String,
    required: true
  },
  link: {
    type: String,
    default: ""
  }
});

</script>

<style lang="stylus" scoped>
.title
  display flex
  align-items center
  justify-content space-between
  width 100%
  color #48484A
  border-bottom 1px solid #EFEFF4
  .name
    font-size 16px
    font-weight 500
    text-transform uppercase
    padding-bottom 5px
    border-bottom 3px solid #ED4259
  .all-btn
    &:hover
      color blue
@media screen and (min-width: 768px)
  .title
    .name
      font-size 18px
      font-weight 600
</style>