<template lang="pug">
.navbar-container
  .inner.flex-row
    .route-list.flex-row
      router-link.route(class="route-active" :to="{name: 'Home'}") Trang chủ
      router-link.route(:to="{name: 'Forum'}") Diễn đàn
      router-link.route(:to="{name: 'Home'}") Cửa hàng
    .search-bar.flex-row
      input.search-field(type="text" placeholder="Tìm kiếm")
      SearchIcon.icon(width="15px" height="15px" fill="#ccc")
    .charge-button.flex-row
      ChargeIcon.icon(width="15px" height="15px" fill="#fff")
      p Nạp tiền
</template>

<script setup>

import SearchIcon from "../../../assets/svg/magnifying-glass-solid.svg";
import ChargeIcon from "../../../assets/svg/cloudsmith.svg"

</script>

<style lang="stylus" scoped>
.flex-row {
  display flex
  align-items center
}
.navbar-container
  display none
@media screen and (min-width: 768px)
  .navbar-container
    display block
    background-color #3a3a3a
    .inner
      width 1200px
      height 56px
      max-width 100%
      margin 0 auto
      justify-content space-between
      .route-list
        height 100%
        .route
          height 100%
          color #fff
          display inline-flex
          align-items center
          text-align center
          padding 0 15px
          &:hover
            border-bottom 5px solid #BF2C24
        .route-active
          background-color #BF2C24
          &:hover
            border-bottom none
      .search-bar
        width 420px
        background-color #fff
        justify-content space-between
        padding 10px 15px
        border-radius 5px
        .search-field
          flex 1
          border none
          outline none
          color #8E8E93
        .icon
          margin 0 5px
      .charge-button
        cursor pointer
        height 32px
        width 130px
        background-color #ED4259
        justify-content center
        color #fff
        border-radius 20px
        .icon
          margin-right 5px
</style>