<template lang="pug">
.container
  Header 
  Body
  Footer
</template>
  
<script setup>
  
import Header from "../components/Header/Header.vue"
import Body from "../components/Body/Body.vue"
import Footer from "../components/Footer/Footer.vue"

</script>
  
<style lang="stylus" scoped>
.container
  width 100%
  .body
    background-color #fff

</style>