<template lang="pug">
header
  LogModal(v-if="openLogModal" :handleClick="toggleOpenLogModal")

  .inner
    img.image-banner(src="/images/banner1.jpg")

    .main
      .logo-mobile
        router-link.logo-text(:to="{name: 'Home'}") TekBook
        router-link.forum-link(:to="{name: 'Forum'}") Diễn đàn
      
      router-link.logo-large(:to="{name: 'Home'}")
        img.logo-image(src="/images/logo.png")
        .logo-title
          h1 Tekbook
          p Books here, stories there

      .header-right
        a.download-link(href="https//play.google.com/store/apps/details?id=com.book.truyen.tangthuvien")
          DownloadIcon(width="15px" height="15px" fill="#fff")
          p App
        router-link(style="display: flex; align-Items: center" :to="{name: 'Login'}")
          UserIcon(width="20px" height="20px" fill="#fff")
      
      button.account-btn(@click="toggleOpenLogModal" @mouseover="$event => bookmarkColor = '#fff'", @mouseleave="$event => bookmarkColor = '#000'")
        BookmarkIcon(class="book-icon" width="16px" height="16px")
        p Tài khoản
</template>

<script setup>
  import {ref} from 'vue'

  import DownloadIcon from "../../assets/svg/download-solid.svg"
  import UserIcon from "../../assets/svg/user-solid.svg"
  import SearchIcon from "../../assets/svg/magnifying-glass-solid.svg"
  import BookmarkIcon from "../../assets/svg/book-bookmark-solid.svg"
  import CloseIcon from "../../assets/svg/xmark-solid.svg"

  import LogModal from './LogModal.vue'


  const openLogModal = ref(false)

  function toggleOpenLogModal() {
      openLogModal.value = !openLogModal.value
  }

</script>

<style lang="stylus" scoped>
header
  background-color #3A3A3C
  .inner
    width 1200px
    max-width 100%
    margin auto
    padding 0
    .image-banner
      display none
    .main
      padding 12px
      display flex
      align-items center
      justify-content space-between
      .logo-large 
        display none
      .logo-mobile
        display flex
        align-items center
        .logo-text 
          color #fff
          font-size 20px
          margin-right 10px
          font-weight 500
        .forum-link 
          font-size 13px
          text-align center
          color #fff
          padding 8px 12px
          border-radius 4px
          background-color #BF2C24
      .search-bar 
        display none
      .header-right 
        display flex
        align-items center
        .download-link 
          display flex
          align-items center
          margin-right 10px
          background-color #ED4259
          padding 5px 8px
          border-radius 3px
          p 
            font-size 13px    
            margin-left 5px
            color #fff
      .account-btn 
        display none

@media screen and (min-width 768px) 
  header
    background-color #fff
    .inner
      .image-banner
        display block
        width 100%
        height 40px
        object-fit cover
      .main
        .logo-mobile 
          display none
        .logo-large 
          display flex
          align-items center
          .logo-image
            width 50px
            height 50px
          .logo-title
            color #000
            h1
              font-weight 400
            p
              font-size 13px
              margin-top -8px
              margin-left 5px
        .search-bar 
          display flex
          align-items center
          input 
            font-size 14px
            width 326px
            height 38px
            padding 0 11px
            border 0
            outline 0
            border 1px solid #dbdbdb
          button 
            width 40px
            height 38px
            background-color #3e98a1
            border none
            display flex
            align-items center
            justify-content center
            &:hover
              background-color #ed4259
        .header-right 
          display none
        .account-btn 
          display flex
          align-items center
          height 40px
          width 120px
          justify-content center
          border 1px solid #e6e6e6
          background-color transparent
          .book-icon
            fill #000
          &:hover
            cursor pointer
            background-color #ed4259
            p
              color #fff
            .book-icon
              fill #fff
          
          p 
            margin-left 5px
            font-size 14px
            font-style italic
</style>