<template lang="pug">
.footer-container
  .content-container
    .inner
      .main-container 
        .download-container
          a(href="")
            img(src="/svg/Download-Appstore.svg")
          a(href="")
            img(src="/svg/download-googleplay.svg")
        p.description Tekbook là nền tảng mở trực tuyến, miễn phí đọc truyện chữ được convert hoặc dịch kỹ lưỡng, do các converter và dịch giả đóng góp, rất nhiều truyện hay và nổi bật được cập nhật nhanh nhất với đủ các thể loại tiên hiệp, kiếm hiệp, huyền ảo ...
      .more-container
        a(href="") Giới Thiệu và Liên Hệ
        a(href="") Vấn Đề Bản Quyền
        a(href="") truyện
        a(href="") Điều Khoản dịch vụ
        a(href="") phản hồi ý kiến 
        a(href="") sách
        a(href="") chính sách bảo mật 
        a(href="") tuyển cộng tác viên
        a(href="") học liệu
  p.license ©2018 TEKBOOK CO. LTD. All rights reserved.


</template>

<script setup>

</script>

<style lang="stylus" scoped>
.footer-container
  .content-container
    background-color #1c1c1e
    .inner
      width 1200px
      max-width 100%
      margin 0 auto
      padding 16px 12px
      .main-container
        .download-container
          display flex
          justify-content space-around
          img
            height 40px
        p
          display none
      .more-container
        display none
  .license
    padding 15px
    color #969696
    text-align center
    text-transform uppercase

  @media screen and (min-width: 768px)
    .content-container
      .inner
        display flex
        justify-content space-around
        gap 30px
        padding 42px 0
        .main-container
          flex 1
          .download-container
            justify-content flex-start
            a
              & + a
                margin-left 16px
              img
                height 56px
          .description
            color #fff
            display block
            margin-top 16px
            text-align justify
        .more-container
          flex 1
          margin-top 16px
          color #fff
          display grid
          grid-template-columns auto auto auto
          grid-column-gap 24px
          grid-row-gap 16px
          a 
            text-transform capitalize
            &:hover
              color #ED4259
</style>