@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 14px
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #fff;
}


@media (min-width: 640px) {
    .container {
        max-width: 100%;
    }
}